{% extends 'base.html.twig' %}

{% block title %}Printing3D{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="banner">
        <p class="slogan">Des objets du quotidien malins qui vont vous simplifier la vie</p>
    </div>
    <div class="white-bloc">
        <div class="row">
            <div class="col"></div>
            <div class="about col">
                <h1>A PROPOS</h1>
                <h2>Printing3D, une entreprise qui pense à vous</h2>
                <p>
                    Printing3D est une startup créée en juillet 2013. Depuis ce jour, nous nous efforçons de créer des
                    produits d'impression 3D qui ont pour objectif de vous simplifier la vie. Vous trouverez <a
                        href="#product-presentation">ci-dessous</a> ainsi qu’à la rubrique <a
                        href="{{ path('products') }}">Nos produits</a>, nos produits phares : des
                    objets malins qui vont révolutionner votre quotidien.
                </p>
                <h2>Plusieurs possibilités d’achat</h2>
                <p>
                    Il possible de vous vendre soit nos fichiers STL à imprimer par vous-mêmes soit de vous livrer
                    directement nos produits qui vous correspondent.
                </p>
                <h2>Créez vos propres produits !</h2>
                <p>
                    Nous mettons également en place un système participatif et intéractif. Si vous ne trouvez pas
                    l'objet
                    que vous désirez, vous pouvez nous le suggérer ! Une rubrique est prévue à cet effet dans l'onglet
                    <a href="{{ path('products') }}">Nos produits</a>.
                </p>
                <h2>Ne manquez pas nos dernières créations !</h2>
                <p>
                    Créez-vous un compte Printing3D pour recevoir une notification lorsqu’un nouveau produit est proposé
                    et
                    pourrait vous intéresser ainsi que pour enregistrer votre panier !
                </p>
                <p>
                    Suivez-nous également sur les réseaux sociaux, nous postons tous les nouveaux produits et
                    promotions !
                </p>
                <p>
                    Vous l’aurez donc compris, vous êtes essentiels à ce projet, vous y avez un rôle. Pour plus de
                    renseignement, n'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="white-bloc">
        <div class="product-presentation" id="product-presentation">
            <h1>NOS PRODUITS</h1>
            <div class="row">
            {% for product in products %}
                <div class="col">
                    <div class="card mb-3 mt-3" style="width: 210px">
                        <h4 class="card-header">{{ product.title }}</h4>
                        <img style="height: 150px; width: auto; display: block;"
                            src=" " alt="Photographie du produit">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-center">{{ product.price | number_format(2, '.' , ',') }} €</li>
                        </ul>
                        <div class="card-body">
                            <a class="home-link" href="{{ path('products') }}">
                                <button type="button" class="btn btn-warning btn-sm ml-2 mr-2">>Voir les produits</button>
                            </a>
                            <a href="{{ path('cart_add', {'id': product.id}) }}" class="card-link">
                                <i class="fas fa-cart-plus"></i></a>
                        </div>
                        <div class="card-footer text-muted">
                            {# {{ product.getCreatedAt }} #}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="white-bloc">
        <div class="advantages">
            <h1>LES PLUS DE PRINTING3D</h1>
            <div class="row">
                <div class="col circle">
                    <h5>Qualité</h5>
                    <p>Printing3D vous propose des objets ainsi qu'un échange de qualité</p>
                </div>
                <div class="col circle">
                    <h5>Exigence</h5>
                    <p>Printing3D c'est de l'exigence pour vous assurer les meilleurs services, car
                        Printing3D pense premièrement à vous !</p>
                </div>
                <div class="col circle">
                    <h5>Technicité</h5>
                    <p>Printing3D met à votre service les meilleurs ingénieurs pour vous proposer des
                        objets d'une excellente technicité</p>
                </div>
                <div class="col circle">
                    <h5>Finitions</h5>
                    <p>Printing3D vous propose de nombreuses possibilités de finitions pour correspondre
                        à vos goûts</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="partners">
            <h1>NOS PARTENAIRES</h1>
            <h4>N'hésitez pas à devenir partenaires, <a class="home-link" href="contact.html">contactez nous</a>
                pour que cette rubrique se remplisse !</h4>
        </div>
    </div>
</div>
{% endblock %}