{% extends 'base.html.twig' %}

{% block title %}Printing3D - Créer un compte{% endblock %}

{% block body %}
<div class="container mt-4">
    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey | trans(error.messagedata, 'security') }}
    </div>
    {% endif %}
    <h1>Se connecter</h1>
    <form action="{{ path('identification') }}" method="post">
        <div class="form-group">
            <label for="useremail">Votre email</label>
            <input type="text" id="useremail" name="_username" class="form-control" value="{{ last_username }}">
        </div>
        <div class="form-group">
            <label for="password">Votre mot de passe</label>
            <input type="password" id="password" name="_password" class="form-control">
        </div>
        <button type="submit" class="btn btn-warning mb-5">Se connecter</button>
    </form>
{#     {{ form_start(form) }}
        {{ form_row(form.email)}}
        {{ form_row(form.password)}}
            {{ form_rest(form) }}
            <button class="btn btn-warning mb-5">Se connecter</button>
    {{ form_end(form) }} #}
</div>

{% endblock %}