{% extends 'base.html.twig' %}
{% block title %}Printing3D - Détail du produit {% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('product') }} 
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <img id="other_picture" style="height: 400px; width: 500px;" 
            src="{{ vich_uploader_asset(product, 'imageFile') }}" 
            alt="Photographie du produit">
        </div>
        <div class="col">
            <h1 class="mt-3">{{ product.title }}</h1>
            <p id="price">{{ product.price | number_format(2, ',' , '.') }} €</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="color: #18BC9C">Détail du produit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>{{ product.detail }}</p></td>
                    </tr>
                    <tr>
                        <td>Ajouté le : {{ product.createdAt | date("d/m/Y") }}</td>
                    </tr>
                </tbody>

            </table>
            
        </div>
    </div>
</div>
{% endblock %}