{% extends 'base.html.twig' %}

{% block title %}Gérer les produits{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('admin') }} 
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Editer le produit</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.title)}}</div>
        <div class="col-md-4">{{ form_row(form.price) }}</div>
    </div>
    <small id="fileHelp" class="form-text text-muted">Seuls les fichiers .jpg et .png sont acceptés.</small>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.imageFile)}}</div>
    </div>
        {{ form_rest(form) }}
        <button id="button" class="btn btn-warning mb-5">Editer</button>
    {{ form_end(form) }}
</div>

{% endblock %}