{% extends 'base.html.twig' %}

{% block title %}Gérer les produits{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Ajouter un produit</h1>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.title)}}</div>
        <div class="col-md-4">{{ form_row(form.price)}} €</div>
    </div>
    <small id="fileHelp" class="form-text text-muted">Seuls les fichiers .jpg et .png sont acceptés.</small>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.picture)}}</div>
        <div class="col-md-4">{{ form_row(form.detail_picture)}}</div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        </div>
        <div class="form-group col-md-4">
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        </div>
    </div>
        {{ form_rest(form) }}
        <button class="btn btn-warning mb-5">Ajouter</button>
    {{ form_end(form) }}
</div>

{% endblock %}